.PokemonCard {
    -webkit-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 16px;
    -moz-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    max-width: 500px;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: auto auto;
    margin: 15px;
}

.PokemonCard h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-transform: capitalize;
}

.PokemonCard img {
    grid-row: 2;
    max-width: 200px;
    margin: auto;
}

.PokemonCard ul {
    grid-row: 2;
    list-style: none;
    padding-right: 30px;
    margin: auto;

}



.pokemonList {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-image: none;
}

a {
    color: rgb(14, 14, 14);
    text-decoration: none;
}


/* Pokemon detail */
.pokemonDetailCont {
    display: flex;
}

.pokemonDetail {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.pokemonDetail h1 {
    width: 100%;
    text-transform: capitalize;
}
.pokemonDetail h3 {
    text-transform: capitalize;
}

.pokemonDetail li {
    list-style: none;
    text-align: left;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.pokemonDetail li span{
    width:300px;
}

.pokemonDetail img {
    max-width: 350px;
}